{%- comment -%}
  Usage:
  {% capture kali_cmd %}GetUserSPNs.py ...{% endcapture %}
  {% capture win_cmd %}Rubeus.exe kerberoast{% endcapture %}
  {% include cmd_tabs.html id="kroast-1" kali=kali_cmd windows=win_cmd %}
{%- endcomment -%}
<div class="cmd-tabs" data-testid="cmd-tabs">
  {% if include.kali %}{% include cmd.html env="kali" cmd=include.kali note=include.kali_note %}{% endif %}
  {% if include.pwnbox %}{% include cmd.html env="pwnbox" cmd=include.pwnbox note=include.pwnbox_note %}{% endif %}
  {% if include.windows %}{% include cmd.html env="windows" cmd=include.windows note=include.windows_note lang="powershell" %}{% endif %}
  {% if include.target %}{% include cmd.html env="target" cmd=include.target note=include.target_note %}{% endif %}
</div>
